<h3 class="text-center mt-3 mb-3">
  <%= params[:keyword] %>の検索結果
</h3>
<div class="container">
  <div class="d-flex justify-content-end mb-3">
    <%= link_to "戻る", posts_path, class: "btn-sm btn-secondary" %>
  </div>
  <div class="row justify-content-center">
    <%= render "index", post: @posts %>
  </div>
</div>