<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>チーム名</th>
      <th>メッセージ</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @another_customer_rooms.each do |a| %>
    <tr>
      <th></th>
      <td><%= a.customer.name %></td>
      <td>
        <%= Chat.find_by(id: a.room.chat_ids.last).message %>
      </td>
      <td><%= link_to "DMする", chat_path(a.customer.id) %></td>
    </tr>
    <% end %>
  </tbody>
</table>