<div class="page-holder bg-cover">
  <div class="container py-5">
    <div class="text-center text-white py-5">
      <h3 class="display-4 mb-4">ライバルはいますか?</h3>
      <p class="lead mb-0">Entry!は練習試合の相手を見つけるサイトです</p>
    </div>

    <div class="text-center text-white">
      <p class="lead">
        各スポーツごとに検索でき、相手を募集することも見つけて申し込むことができるサイトです。<br>
        練習試合の相手が見つからない、合宿先での練習試合の相手が欲しい<br>
        そんな思いがある方はぜひご活用下さい。
      </p>
    </div>
  </div>
</div>