<div class="hero vh-100 d-flex align-items-center">
<div class="container">
  <div class="row">
    <div class="col-lg-7 mx-auto text-center">
      <h1>
        ライバルはいますか？
      </h1>
      <p>
        sss
      </p>
    </div>
  </div>
</div>
