<div class = "container">
  <div class ="row">
    <div class="col-12 col-md-8 mx-auto">
      <h3 class="text-center mt-3">プロフィールを作成する</h3>
      <%= render "form", profile: @profile %>
    </div>
  </div>
</div>