@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Shippori Mincho', serif;
}

html {
  position: relative;
  height: 100%;
  width: 100%;
}

main{
  height: 100%;
}

.bg-cover {
  background-size: cover;
  background-image: url('../images/ground.jpg');
  background-position: center;
  height: 100vh;
}

footer{
  width: 100%;
  height: 50px;
  bottom: 0;
  position: absolute;
}

.table-bordered tbody td {
  border: 1.5px solid black;
 }

 .table-bordered th {
  border: 1.5px solid black;
 }

 .pagination {
  justify-content: center;
}

.pagination>li>a {
  border: none;
  background-color: #ecf0f1;
  color: #696969;
  border-radius: 5px;
}

.pagination>.active>a {
  background: #93c9ff;
  border-radius: 5px;
}

input[type=radio] {
  display: none;
}

.simple-calendar {
  table {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(221, 221, 221);
    border-collapse: collapse;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
  }

  tr {
    border-collapse: collapse;
  }

  th {
    padding: 6px;
    border-bottom: 2px solid rgb(221, 221, 221);
    border-collapse: collapse;
    border-left: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
    border-top: 0px none rgb(51, 51, 51);
    box-sizing: border-box;
    text-align: left;
  }

  td {
    padding: 6px;
    vertical-align: top;
    width: 14%;

    border: 1px solid #ddd;
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(221, 221, 221);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-left-width: 1px;
  }

  .day {
    height: 80px;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    background: #FFFFC0
  }

  .past {}
  .future {}
  .start-date {}
  .prev-month {}
  .next-month {}
  .current-month {}
  .has-events {}

  .calendar-heading{
    text-align: center;
  }
}

textarea {
  resize:none;
  height:100px;
  width:100%;
  border-radius: 6px;
}

#error_explanation {
  width: 450px;
  color: red;
  list-style: none;
  padding: 5px 5px 0;
  margin-bottom: 10px;
}

#notice {
  text-align: center;
  color:#328cc1;
  margin: 0;
  padding: 0;
  background-color: #343a40;
}

.home-top{
  background-image: url('../images/top-page.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}
